
  .dcion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dciontitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dciontitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }

  .dciontitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .dciontitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }

  .dciontitlebodylang ul {
    display: flex;
    gap: 5px;
  }

  .dcionbody {
    width: var(--max);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 5px 0px;
  }

  .dcionmenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }

  .dcionmenulist {
    width: calc(100% - 20px);
    background-color: #1e3046;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .dcionmenubody {
    width: 100%;
    background-color: #1e3046;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dcionmenulist ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  .dcionmenulist ul a {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }

  .dcionmenulist ul a:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
  }

  .dcionmenulistactive {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }

  .dcionmenulistbody {
    width: 100%;
  }


  @media screen and (min-width: 1024px) {
    .dcionbodylogo {
      height: 100px;
      max-width: 90vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 1024px) {
    .dcionmenu {
      overflow-x: auto;
    }

    .dcionmenulist ul {
      flex-direction: row;
    }

    .dcionbodylogo {
      width: 50vw;
      max-width: 50vw;
      max-height: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .dcionmenulist ul a {
      font-size: 14px;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .title-fxsck {
    font-size: 18px;
  }
  .fxsckbody {
    display: flex;
    align-items: stretch;
    padding: 15px 0px 15px 0px;
    height: 350px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-fxsck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }
  .sliderxfxsck {
    position: relative;
    width: 100%;
    max-width: var(--max);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .slider-fxsckt-itle {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
  }
  .swiper-button-prev-fxsck,
  .swiper-button-next-fxsck {
    color: #000 !important;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.4;
    position: absolute !important;
    /* Change relative to absolute */
    top: 50%;
    /* Position it at the middle of the container */
    transform: translateY(-50%);
    /* Center it vertically */
  }
  .swiper-button-prev-fxsck {
    left: -30px !important;
  }
  .swiper-button-next-fxsck {
    right: -30px !important;
  }
  @media screen and (max-width: 1024px) {
    .sliderxfxsck {
      width: 100%;
    }
  }
  .img-fxsck {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    position: relative;
    overflow: hidden;
  }
  .img-fxsck > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .spot-fxsck {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .button-fxsck {
    background-color: #1e3046;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  }
  .button-fxsck > * {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .button-fxsck:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
  }
  .button-fxsck:hover span {
    transform: translateX(8px) scale(1.2);
    /* Move and scale the icon */
    transition:
      transform 0.4s ease,
      color 0.4s ease;
  }
  .button-fxsck:hover .w100 {
    transition: color 0.4s ease;
  }
  .swiper-fxsck {
    background-color: #fff;
    aspect-ratio: 3/4;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    margin: 5px;
    gap: 10px;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: filter 0.3s;
    cursor: pointer;
  }
  .fxsck {
    overflow-x: auto;
  }
  .fxsck::-webkit-scrollbar {
    display: none;
  }


  .w0zih {
    width: 100%;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .w0zihcontainertitle {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  .w0zihcontainerlist {
    padding: 10px;
    display: flex;
    border-radius: 8px;
    border-bottom: solid 1px #ddd;
    gap: 20px;
    transition: background-color 0.3s ease;
  }
  .w0zihcontainerlist > div {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #444;
  }
  .w0zihcontainerlist:hover {
    background-color: #f9f9f9;
    border-bottom-color: #1e3046;
  }
  .w0zihcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .w0zihcontainerbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .w0zihbody {
    width: calc(var(--max) - 40px);
    background-color: #ebebeb;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 20px;
  }
  .w0zihcontainerlist > span {
    font-size: 24px;
    color: #1e3046;
  }
  @media screen and (max-width: 1024px) {
    .w0zihbody {
      width: 100%;
      padding: 20px;
      flex-direction: column;
    }
    .w0zihcontainerbody {
      padding: 15px;
    }
  }


  .zoom-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200;
    width: 100%;
  }
  .zoom-icon {
    font-size: 250px !important;
    color: #333;
    animation: pulse 2s infinite;
    opacity: 0.5;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .rp8tm-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--max);
  }
  .rp8tm-body-chile {
    padding: 20px;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    position: absolute;
  }
  .rp8tm-body-chile > div {
    width: 100% !important;
  }
  .rp8tm2 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .rp8tm {
    display: flex;
    flex-direction: column;
  }
  .rp8tm > svg {
    width: 100vw;
  }
  .rp8tmbotton {
    transform: scaleY(-1);
    margin-bottom: -1px;
  }
  .rp8tm-svg {
    fill: #fff;
  }
  .rp8tm-bg {
    background-image: url("/img/n0fc7s/map.png?v={{random}}") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @media screen and (max-width: 1024px) {
  }


  .footer {
    position: relative;
    background: #1e3046;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231e3046;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

